div {
	display: block;
}

body {
	background-color: #fff;
}

#menu {
	position: sticky;
	top: 0;
	background-color: #009dcb;
	font-size: 16px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 999;
}

#menu ul {
	list-style-type: none;
	padding-left: 0;
}

#menu ul li {
	display: inline;
	margin-right: 25px;
}

#menu ul li a {
	font-size: 150%;
	font-weight: bold;
	text-decoration: none;
	color: #cedee3;
	padding: 15px 10px;
	transition: color 0.5s, background 0.5s;
}

#menu ul li a:hover {
	color: #fff;
}

.col-md-12 {
	position: relative;
	min-height: 1px;
	margin-top: 0px;
	padding-right: 15px;
	padding-left: 15px;
}

img {
	width: 100%;
	height: auto;
}

img#logo {
	width: 15%;
	height: auto;
}


#navbar {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	width: 60%;
}

#navbar ul {
	list-style-type: none;
	padding-left: 0;
}

#navbar ul li {
	display: inline;
	margin-right: 25px;
}

#navbar ul li a {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px auto;
	transition: color 0.5s;
}

#navbar ul li a:hover {
	color: #ff6800;
}


#subscribe-button {
	border-radius: 5px;
	border: 1px solid #cedee3;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
	float: right;
	margin: 10px 0px;
	transition: color 0.5s, background 0.5s;
}

span:hover {
	background-color: #009dcb;
}

h2 {
	text-align: center;
	font-size: 2em;
}

.content {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px auto;
	width: 70%;
	height: 100%;
}

.content h3 {
	color: #2009f2;
}

.content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.content li {
	margin-bottom: 10px;
}

.content ul li a {
	text-decoration: none;
}

.content p {
	text-align: right;
}

.content p a {
	text-decoration: none;
}

.arrow {
	list-style: none;
	padding-left: 12px;
	width: 14px;
	height: 13px;
}

.content p a {
    font-weight: bold; /* In đậm */
    color: #0a02f0; /* Màu xanh dương */
    text-decoration: none;
}

.content p a:hover {
    text-decoration: underline; /* Gạch chân khi rê chuột vào liên kết */
    color: #ff6800; /* Màu khi rê chuột vào liên kết */
}